
<% if @user %>
  <p><%= build_link(["users", @user.id], "Profile") %></p>
  <form method="POST" action="/sessions">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Log out">
  </form>

<% else %>
  <p><a href="/login">Log In</a></p>
  <p><a href="/signup">Create new user</a></p>
<% end %>


<p><a href="/articles">Articles</a></p>
<p><a href="/users">Users</a></p>
<p><a href="/categories">Categories</a></p>