<h1>Welcome to the wiki</h1>


<div class="intro article">
  <div class="article content">
    <%= $markdown.render(@intro.current_content) %>
  </div>
  <img src="<%= @intro.current_image %>">
</div>