<h1>Welcome to the wiki</h1>


<div class="intro article">
  <div class="article content">
    <%= $markdown.render(@intro.current_content) %>
  </div>
  <img src="<%= @intro.current_image %>">
</div>

<div>
  <h4>Popular Categories:</h4>
  <ul>
    <% @popular_categories.each do |category| %>
      <li><a href="<%= category.path %>"><%= category.title %></a></li>
    <% end %>
  </ul>
</div>