<!DOCTYPE html>
<html>
  <head>
    <title>WIKI</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <div class="top bar">
      <ul>
        <% if @user %>
          <% if @user.admin? %>
            <li>Logged in as admin: <%= @user.username %></li>
          <% else %>
            <li>Logged in as <%= @user.username %></li>
          <% end %>
          <li><%= build_link(["users", @user.id], "Profile") %></li>
          <li>
            <form method="POST" action="/sessions">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Log out">
            </form>
          </li>

        <% else %>
          <li>Not logged in</li>
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Create new user</a></li>
        <% end %>
      </ul>
    </div> <!-- .topbar -->

    <div class="side bar">
      <ul>
        <li><a href="/search">Search</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </div> <!-- .sidebar -->
    <div class="page-content">
      <%= yield %>
    </div>

  </body>
</html>