<!DOCTYPE html>
<html>
  <head>
    <title><%= @article.title %></title>
    <link rel="stylesheet" type="text/css" href="/css/print_styles.css">
  </head>
  <body>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>