body {
  background-color: skyblue;
}

div {
  border: 1px solid black;
}

.top.bar {
  position: relative;
  top: 0;
  width: 100%;
}

.bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top.bar li,
.top.bar form,
.article .bar li {
  display: inline;
}

.side.bar {
  position: relative;
  float: left;
  height: 100%;
  /*width: 10%;*/
  max-width: 19%;
}

.side.bar ul {
  background-color: skyblue;
}

.side.bar li a{
  display: block;
  padding: 8px;
  text-decoration: none;
}

.side.bar li a:hover {
  background-color: green;
  color: white;
}

.page-content {
  background-color: blanchedalmond;
  position: relative;
  float: left;
  width: 79%;
  /*min-height: 300px;*/
}

.article img {
  display: inline-block;
  width: 30%;
}

.active {
  background-color: green;
}

.article h3 a {
  font-size: 10px;
}