body {
  background-color: skyblue;
}

div {
  border: 1px solid black;
}

.article {
  border: 1px dashed green;
}

.top.bar {
  position: relative;
  top: 0;
  width: 100%;
}

.top.bar li,
.top.bar form,
.article .bar li {
  display: inline;
}

.side.bar,
.page-content,
.toc,
.details .profile,
.details img {
  display: inline-block;
  vertical-align: top;
}

.side.bar {
  width: 80px;
  background-color: grey;

}

.side.bar li a{
  display: block;
  padding: 8px;
  text-decoration: none;
}

.side.bar li a:hover {
  background-color: green;
  color: white;
}

.page-content {
  width: 80%;
  background-color: blanchedalmond;
}

.bar ul,
.revisions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.article img {
  display: inline-block;
  width: 50%;
}

.active {
  background-color: green;
}

.article h3 a {
  font-size: 10px;
}

.toc {
  min-width: 40%;
  height: 100%;
}

.inline-btn {
  display: inline;
}

.categories {
  width: 90%;
  margin: 0 auto;
  background-color: silver;
}

.details .profile {
  width: 48%;
}

.details img {
  width: 48%;
}


